

.imgCarousel {
    display: flex;
    height: 280px;
    width: 50%;
    transform: translateX(0%);
    transition: all 1s ease-in-out;
    background: white;
    z-index: 1;
}

.imgCarousel img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .7;
    transition: .5s ease-in-out;
    border: 1px solid rgba(141, 141, 141, 0.699);
    -webkit-box-shadow: 3px 2px 18px 0px rgba(107, 107, 107, 0.68);
    -moz-box-shadow: 3px 2px 18px 0px rgba(107, 107, 107, 0.68);
    box-shadow: 3px 2px 18px 0px rgba(107, 107, 107, 0.68);

}

.portfolio-container {
    flex: 0 0 auto;
    width: 100%;
    float: left;
    transition: all 1s ease-in-out;
    text-align: center;
}

.projectDesc {
    position: absolute;
    width: 30%;
    opacity: 0;
    transition: all 1s ease-in-out;
    font-size: 1rem;
    max-height: 350px;
    display: flex;
    align-items: center;
    height: 280px;
}

.projectTech {
    position: absolute;
    left: 65%;
    margin-right: 8%;
    transition: all 1s ease-in-out;
    font-size: 1rem;
    display: flex;
    align-items: center;
    height: 280px;
}

.portfolio-container:hover .imgCarousel {
    transform: translateX(100%);
    opacity: 1;
}

.portfolio-container:hover .projectDesc {
    opacity: 1;
}

.portfolio-container:hover .projectTech {
    opacity: 0;
}

.imgCarousel img:hover {
    object-fit: contain;
    cursor: crosshair;
    width: 70%;
    height: 100%;
    opacity: 1;
    filter: contrast(100%);
}


@media (max-width: 777px) {
    .projectDesc, .projectTech{
       display: contents;
   }
   .imgCarousel{
    width: 100%;
   }
   .portfolio-container:hover .imgCarousel {
    transform: translateX(0%);
    opacity: 1;
}
}