

* {
    z-index: 0;
}
.contact {
    background: transparent;
    color: white;

}

.social-links a {
    color: white;
    padding: 0px .5rem;
}

.section-footer h2 {
    font-weight: bolder;
    color: #1072A1;
}