body {
    background: black;
    overflow-x: hidden;
}

section {
    background-color: white;
}

#particles-js {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

* {
    z-index: 0;
}


#hero {
    width: 100%;
    height: 100vh;
    margin-left: 20%;
    padding-left: 2rem;
    background: transparent;
    background-size: cover;
}

.typed {
    border-right: 0.1em solid #fff;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(30, end), blink-caret 0.75s step-end infinite;
}

#particles-js {
    position: absolute;
    width: 70%;
    height: 100%;
}

#hero:before {
    content: "";
    background: rgba(5, 13, 24, 0.3);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

#hero .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#hero p {
    color: rgba(255, 255, 255, 0.521);
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
}

#hero p span {
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #149ddd;
}

.scrollDown {
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
    color: rgba(255, 255, 255, 0.685);
}

#hero .scrollDown svg {
    height: 2em;
    width: 2em;
}

.scrollDown #scroll {
    display: block;
    color: rgba(255, 255, 255, 0.425);
    font-size: larger;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
        margin-left: 30%;

    }
}

@media (max-width: 768px) {
    #hero {
        margin-left: 10%;
    }

    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}



/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 1rem 0;
    overflow: hidden;
}

.section-bg {
    background: #f5f8fd;
}

.section-title {
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 5px;
    position: relative;
    color: #173b6c;
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}

.section-title p {
    margin-bottom: 0;
}


.contact {
    background: #040B14;
    color: white;
    z-index: 3;
}

.social-links a {
    color: white;
    padding: 0px .5rem;
}

.section-footer h2 {
    font-weight: bolder;
    color: #1072A1;
}